*{
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

/* Barra de Navegação */

  header{
    background: #002E63;
    padding: 22px;
    font-family:'Arial', sans-serif;
    font-size: 30px;
  }

    .navbar{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-weight: 700;
      
    }

        .logo{
          border: 6px solid whitesmoke;
          background-color: #D3D3D3;
          width: fit-content;
          padding: 10px;
          border-radius: 20px;
        } 

            .menu_navbar{
                display: flex;
                justify-content:end;
                align-items: top;
                flex-wrap: wrap;
                
            }

                .menu-item_navbar{
                 color: #000; 
                 border: 1px solid white;
                 list-style: none;
                 margin: 3px;
                 background-color: whitesmoke;
                 border-radius: 10px;
                }

                .menu-item_navbar:hover{
                  background-color: #E6D9CB;
                  transition: 0.5s; 
                }
                
                    .menu-link_navbar{
                      display: block;
                      padding: 12px;
                    }
                  a{
                    text-decoration: none; 
                    color: #000;                
                  }
                  
                  a:visited{
                    color: #000;
                  }

/* Conteúdo da Página Home */

h1{
    font-size: 60px;
    text-align: center;
    padding: 50px;
    margin: 20px;
    background-color:#D3D3D3;
}    

.introduction{
  font-size: 24px;
  margin: 100px 20px 10px ;
  padding: 20px;
}

.home-img{
  display: block;
  width: 200px;
  margin: auto;
  
}

.menu_content{
   background-color: #C8E6D6; 
   border: 5px dotted #566D7E;
   padding: 80px;
   margin: 20px;
   display: flex;
   flex-wrap: wrap;
  }
   
    .menu-item_content{
      list-style: none;
      border: 2px solid whitesmoke;
      background: whitesmoke;
      margin: 5px;
      font-size: 30px;
      text-align: center;
      flex: 1 2 0;
    }
      .block{
        margin: 5px;
        width: auto;
        height: 300px;
        background-color: #E6D9CB;
      }
        .menu-link_content{
          display: block;
          padding: 20px;
        }

/* Footer */

.footer{
  text-align: center;
  background-color:#E6D9CB;
  padding: 40px;
  margin-top: 50px;
}